.titleWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.title {
  color: indianred;
}

.description {
  color: gray
}

.profileImage {
  filter: grayscale(100%);
  object-fit: cover;
}
